<h2>パスワードを忘れた方はメールアドレスを入力ください。</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "パスワードのリセット" %>
  </div>
<% end %>

<div class="box-other2">
  <%- if controller_name != 'sessions' %>
    <%= link_to "ログイン画面に戻る", new_session_path(resource_name) ,{class: "btn-pwborder" }%><br />
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "新規登録", new_registration_path(resource_name)  ,{class: "btn-pwborder" }%><br />
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "パスワードを忘れた場合はこちら", new_password_path(resource_name) ,{class: "btn-pwborder" } %><br />
  <% end %>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to "確認メールが届いていませんか?", new_confirmation_path(resource_name), {class: "btn-pwborder" } %><br />
  <% end %>
</div>
