<% if @token %>
<div>グループURL:
    <input id="copyTarget" type="text" size="62" value="<%= schedules_url+ "?access_token=#{@token.access_token}"%>" readonly >
<button onclick="copyToClipboard()">イベントのURLをコピー</button>
</div>
<% end %>  
<h1>開催日程</h1>

<div id="left_column">
    <table cellspacing="0" cellpadding="0">


    <div class="tdContainer">
    <div class="dateBox"><a href="/tsfc%E5%87%BA%E6%AC%A0/schedules/21?access_token=Oq8nB5VS">2023年01月04日(水)</a><br>17:00 ～ 19:00<br>朝宮公園(NEK招待)</div>
    <div class="cntBox">
        <p>エルニーニョ招待、<br>ユニフォームは緑</p>
        <div class="accordBody">
            <div class="attendBox" class="border_t">
                <dl>
                    <dt>参加</dt>
                    <dd>
                        <ul>
                            <li>
                                <div class="delete"><a data-confirm="本当に削除してもよろしいですか？" class="btn-border2" rel="nofollow" data-method="delete" href="/answers/152?access_token=Oq8nB5VS">×</a></div>
                                <div class="name">
                                    <p>長：</p>
                                </div>
                            </li>
                            <li>
                                <div class="delete"><a data-confirm="本当に削除してもよろしいですか？" class="btn-border2" rel="nofollow" data-method="delete" href="/answers/152?access_token=Oq8nB5VS">×</a></div>
                                <div class="name">
                                    <p>西尾：</p>
                                </div>
                            </li>
                            <li>
                                <div class="delete"><a data-confirm="本当に削除してもよろしいですか？" class="btn-border2" rel="nofollow" data-method="delete" href="/answers/152?access_token=Oq8nB5VS">×</a></div>
                                <div class="name">
                                    <p>大久保：</p>
                                </div>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt>多分</dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt>未定</dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt>欠席</dt>
                    <dd>
                        <ul>
                            <li>
                                <div class="delete"><a data-confirm="本当に削除してもよろしいですか？" class="btn-border2" rel="nofollow" data-method="delete" href="/answers/152?access_token=Oq8nB5VS">×</a></div>
                                <div class="name">
                                    <p>守屋：</p>
                                </div>
                            </li>
                            <li>
                                <div class="delete"><a data-confirm="本当に削除してもよろしいですか？" class="btn-border2" rel="nofollow" data-method="delete" href="/answers/152?access_token=Oq8nB5VS">×</a></div>
                                <div class="name">
                                    <p>川鍋：</p>
                                </div>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
            <div class="formBox">
                <form>
                    <div class="inputItems">
                        <dl>
                            <dt>名前：</dt>
                            <dd><input placeholder="必須項目" class="schedule_class" type="text" name="answer[name]" id="answer_name" /></dd>
                        </dl>
                        <dl>
                            <dt>選択：</dt>
                            <dd><select class="schedule_class" name="answer[reason]" id="answer_reason">
                                <option value="sanka">参加</option>
                                <option value="tabun">多分参加</option>
                                <option value="mitei">未定</option>
                                <option value="kesseki">欠席</option>
                                </select>
                            </dd>
                        </dl>
                    </div>
                    <dl>
                        <dt>コメント：</dt>
                        <dd><input class="schedule_class" type="text" name="answer[comment]" id="answer_comment" /></dd>
                    </dl>
                    <div class="buttonBox"><input type="submit" name="commit" value="登録する" data-disable-with="登録する" />
                        <p>※名前の入力は必須です。<br>※×は削除ボタンです。<br>※同名前での更新は出来ません。<br>※変更したい場合は一旦削除してから再登録して下さい。</p>
                    </div>
                </form>
            </div>
            <div class="attendCount">
                <ul>
                    <li>12</li>
                    <li>0</li>
                    <li>0</li>
                    <li>0</li>
                </ul>
            </div>
        </div>
    </div>
</div>




        <tr>
        <th class="border_n" rowspan="2" width="25%" bgcolor="#1f51a2"><font color="#fff">日時・場所</font></th>
        <td class="border_l" rowspan="2" align="center" bgcolor="#1f51a2"><font color="#fff">コメント</font></td>
        <td class="border_l" colspan="4" align="center" bgcolor="#1f51a2"><font color="#fff">出欠</font></td>
            <tr>
                <td class="border_tl" width="4%" align="center" bgcolor="#99ffcc">参加</td>
                <td class="border_tl" width="4%" align="center" bgcolor="#ffffcc">多分</td>
                <td class="border_tl" width="4%" align="center" bgcolor="#d3d3d3">未定</td>
                <td class="border_tl" width="4%" align="center" bgcolor="#ffb6c1">欠席</td>
            </tr>
        </tr>
        <% if @schedules.count > 0 %>
            <% @schedules.each do |schedule| %>
            <% if params[:id].to_i == schedule.id %>
            <tr class="active">
                <td class="border_t">            
                    <% weeks = ["月","火","水","木","金","土","日"] %>
                    <% index = schedule.ymd.strftime("%u").to_i %>
                    <% if user_signed_in? %>
                        <%= link_to schedule.ymd.strftime("%Y年%m月%d日(#{weeks[index - 1]})"), schedule_path(id:schedule.id,teamcores_teamname: @team.teamname) %><br><%= schedule.start.strftime('%H:%M') %> ～ <%= schedule.end.strftime('%H:%M') %><br><%= schedule.place %>
                    <% else %>
                        <%= link_to schedule.ymd.strftime("%Y年%m月%d日(#{weeks[index - 1]})"), schedule_path(id:schedule.id, access_token: params[:access_token],teamcores_teamname: @team.teamname) %><br><%= schedule.start.strftime('%H:%M') %> ～ <%= schedule.end.strftime('%H:%M') %><br><%= schedule.place %>
                    <% end %>
                    <br>
                    <% if @token %>
                        <input id="copyTarget1" type="hidden"value="<%= schedule_url + "?access_token=#{@token.access_token}"%>">
                        <button onclick="copyToClipboard1(copyTarget1)">このイベントURLをコピー</button>
                    <% end %>
                </td>
                <td class="border_tl"><%= simple_format schedule.addcomment %></td>
                <td class="border_tl" align="center"><%= schedule.answers.sanka&.count %></td>
                <td class="border_tl" align="center"><%= schedule.answers.tabun&.count %></td>
                <td class="border_tl" align="center"><%= schedule.answers.mitei&.count %></td>
                <td class="border_tl" align="center"><%= schedule.answers.kesseki&.count %></td>
            </tr>
            <% else %>
            <tr>
                <td class="border_t">            
                    <% weeks = ["月","火","水","木","金","土","日"] %>
                    <% index = schedule.ymd.strftime("%u").to_i %>
                    <% if user_signed_in? %>
                        <%= link_to schedule.ymd.strftime("%Y年%m月%d日(#{weeks[index - 1]})"), schedule_path(id:schedule.id,teamcores_teamname: @team.teamname) %><br><%= schedule.start.strftime('%H:%M') %> ～ <%= schedule.end.strftime('%H:%M') %><br><%= schedule.place %>
                    <% else %>
                        <%= link_to schedule.ymd.strftime("%Y年%m月%d日(#{weeks[index - 1]})"), schedule_path(id:schedule.id, access_token: params[:access_token],teamcores_teamname: @team.teamname) %><br><%= schedule.start.strftime('%H:%M') %> ～ <%= schedule.end.strftime('%H:%M') %><br><%= schedule.place %>
                    <% end %>

                </td>
                <td class="border_tl"><%= simple_format schedule.addcomment %></td>
                <td class="border_tl" align="center"><%= schedule.answers.sanka&.count %></td>
                <td class="border_tl" align="center"><%= schedule.answers.tabun&.count %></td>
                <td class="border_tl" align="center"><%= schedule.answers.mitei&.count %></td>
                <td class="border_tl" align="center"><%= schedule.answers.kesseki&.count %></td>
            </tr>
            <% end %>
            <% end %>
        <% else %>
            <p>スケジュール準備中です。</p>
        <% end %>
    </table>
     <% if @token %>
         <div style="clear: both; padding: 10px 0 20px;"><%= link_to '日程を作成する（※管理者用）', new_schedule_path(teamcores_teamname:@team.teamname), { class: "btn-border" } %></div>
      <% end %>  
</div>

<% if @schedules.count > 0 %>
    <div id="right_column">
        <table cellspacing="0" cellpadding="0" style="margin-bottom: 30px;">
            <tr>
                <th class="border_n" width="20%" bgcolor="#99ffcc">参加</th>
                <td class="border_l">
                <% @answers_sanka&.each do |answer| %>
                    <%= answer.name %>：<%= answer.comment %>
                    <% if user_signed_in? %>
                        <%= link_to('×', answer, { method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn-border2' }) %><br>
                    <% else %>
                        <%= link_to('×', answer_path(id:answer.id, access_token: params[:access_token]), { method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn-border2' }) %><br>
                    <% end %>
                <% end %>
                </td>
                </tr>
            <tr>
                <th class="border_t" bgcolor="#ffffcc">多分参加</th>
                <td class="border_tl">
                <% @answers_tabun&.each do |answer| %>
                    <%= answer.name %>：<%= answer.comment %>
                    <% if user_signed_in? %>
                        <%= link_to('×', answer, { method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn-border2' }) %><br>
                    <% else %>
                        <%= link_to('×', answer_path(id:answer.id,access_token: params[:access_token]), { method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn-border2' }) %><br>
                    <% end %>
                <% end %>
                </td>
            </tr>
            <tr>
                <th class="border_t" bgcolor="#d3d3d3">未定</th>
                <td class="border_tl">
                <% @answers_mitei&.each do |answer| %>
                    <%= answer.name %>：<%= answer.comment %>
                    <% if user_signed_in? %>
                        <%= link_to('×', answer, { method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn-border2' }) %><br>
                    <% else %>
                        <%= link_to('×', answer_path(id:answer.id,access_token: params[:access_token]), { method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn-border2' }) %><br>
                    <% end %>
                <% end %>
                </td>
            </tr>
            <tr>
                <th class="border_t" bgcolor="#ffb6c1">欠席</th>
                <td class="border_tl">
                <% @answers_kesseki&.each do |answer| %>
                    <%= answer.name %>：<%= answer.comment %>
                    <% if user_signed_in? %>
                        <%= link_to('×', answer, { method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn-border2' }) %><br>
                    <% else %>
                        <%= link_to('×', answer_path(id:answer.id,access_token: params[:access_token]), { method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn-border2' }) %><br>
                    <% end %>
                <% end %>
                </td>
            </tr>
        </table>
        <%= render 'form2', answer: @answer %>
    </div>
<% end %>  

<script>
 function copyToClipboard() {
      // コピー対象をJavaScript上で変数として定義する
      var copyTarget = document.getElementById("copyTarget");
      // コピー対象のテキストを選択する
      copyTarget.select();
      // 選択しているテキストをクリップボードにコピーする
      document.execCommand("Copy");
      // コピーをお知らせする
      alert("コピーできました！ : " + copyTarget.value);
 }
 async function copyToClipboard1(copyTarget1) {
      // コピー対象をJavaScript上で変数として定義する
      var copyTarget1 = await navigator.clipboard.writeText((copyTarget1).value);
      // コピーをお知らせする
      alert("コピーできました！");
 }
</script>
