<h1>グループ名編集</h1>
    <%=form_for( @team,url:team_path, local: true) do |f| %>
        <label for ="teamname">グループ名</label>
        <%=f.text_field:teamname %>
        <%=f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit "保存"%>
    <% end %>
     <div style="clear: both; padding-top: 10px;"><%= link_to "戻る", :back, { class: "btn-border" } %></div>