<% flash.each do |message_type, message| %>
<font color="#50a649">
  <%= content_tag :div, message, class: message_type %>
</font>
<% end %>
<h1>グループ作成</h1>
    <%=form_for( @teamCreate,url:team_index_path, local: true) do |f| %>
        <label for ="teamname">グループ名</label>
        <%=f.text_field:teamname %>
        <%=f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit "作成"%>
    <% end %>