<h1>アカウント編集</h1>
    <%=form_for( @user,url: admin_user_path, local: true) do |f| %>
    <div class="field">
      <%= f.label :名前 %> <br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :メールアドレス %> <br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <%=f.fields_for :teamcore do |i| %>
      <%= i.label :グループ名 %><br />
      <%=i.text_field:teamname %>
      <%=i.hidden_field :id, value: i.object.id %>
    <% end %>

    <div style="clear: both; padding-top: 10px;"><%= f.submit "保存", { class: "btn-border" } %></div>
    <% end %>

 <div style="clear: both; padding-top: 10px;"><%= link_to "戻る", 'javascript:history.back()', { class: "btn-border" } %></div>