<% flash.each do |message_type, message| %>
<font color="#50a649">
  <%= content_tag :div, message, class: message_type %>
</font>
<% end %>
<h1>登録済みのユーザー一覧</h1>
<table class="table">
  <thead>
    <tr>
      <th>グループ名</th>
      <th>名前</th>
      <th>email</th>
      <th colspan="2" class="border_l" align="center" bgcolor="#e0e0e0">アクション</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.teamcore.teamname %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td class="border_tl" align="center"><%= link_to '編集', edit_admin_user_path(user), { class: "btn-border" } %></td>
        <td class="border_tl" align="center"><%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: "btn-border" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 <div style="clear: both; padding: 10px 0 20px;"><%= link_to 'アカウントを作成する', new_admin_user_path, { class: "btn-border" } %></div>
 <p>上記で表示されるユーザーは【ログイン認証＋グループ作成】まで完了したユーザーが表示されます。 </p>
 <p>【ログイン認証＋グループ作成】まで完了していないユーザーは表示されないためご注意ください。</p>
