<!DOCTYPE html>
<html>
  <head>
  <% if user_signed_in? %>
    <% if !@team.nil?%>
      <title><%=@team.teamname%>|スケジュール調整</title>
    <% else %>
      <title>マスター管理画面</title>
    <%end%>
  <% else %>

    <% if !@team.nil?%>
      <title><%=@team.teamname%>|スケジュール調整</title>
    <% else %>
      <title>スケジュール調整</title>
    <%end%>
  <% end %>

<%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in?%>
      <% if !@team.nil? %>
        <header><h1>グループ：<%=@team.teamname%></h1></header>
        <nav>
          <%= link_to 'プロフィール変更', edit_user_registration_path %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <%= link_to 'グループ名変更',  edit_team_path(@team) %>
        </nav>
      <% else %>
       <header><h1>マスター管理画面</h1></header>
        <nav>
          <%= link_to 'プロフィール変更', edit_user_registration_path %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </nav>
       <% end %>
        <% flash.each do |message_type, message| %>
        <font color="#FF0000"><b>
          <%= content_tag :div, message, class: message_type %>
        </b></font>
        <% end %>
       <div id="column"><%= yield %></div>
  <% else %>

    <% if !@team.nil? %>
      <header><h1>グループ：<%=@team.teamname%></h1></header>
    <% else %>
      <header><h1>スケジュール調整</h1></header>
    <% end %>
    <% flash.each do |message_type, message| %>
         <font color="#FF0000"><b>
          <%= content_tag :div, message, class: message_type %>
        </b></font>
    <% end %>
    <div id="column"><%= yield %></div>

  <% end %>
  
  <footer>&copy;2022 D Brand Co.,Ltd.<span><%= link_to 'ご利用規約', kiyaku_index_path, { class: "tar" } %></span></footer>
  </body>
</html>
