<!DOCTYPE html>
<html>
  <head>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% if user_signed_in? %>
    <% if !@team.nil?%>
      <title><%=@team.teamname%>|スケジュール調整</title>
    <% else %>
      <title>マスター管理画面</title>
    <%end%>
  <% else %>

    <% if !@team.nil?%>
      <title><%=@team.teamname%>|スケジュール調整</title>
    <% else %>
      <title>スケジュール調整</title>
    <%end%>
  <% end %>
<%= favicon_link_tag('Dbrandfavicon.ico') %>
<%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in?%>
      <% if !@team.nil? %>
      <%if !current_page?(root_path)%>
          <% if current_page?(schedules_path(teamcores_teamname: @team.teamname)) ||current_page?(schedule_path(teamcores_teamname: @team.teamname)) %>
            <div id= url_button>
                <button onclick="copyToClipboard()">イベントのURLをコピー</button>
            </div>
          <% end %>
      <% end %>
        <header><h1><%=@team.teamname%></h1>
        </header>
        <nav>
          <div style="padding: 10px 0 20px; margin:0 5px 0 23px; "><%= link_to 'プロフィール変更', edit_user_registration_path,{ class: "btn-border-profile" }  %></div>
          <div style="padding: 10px 0 20px; margin:0 5px 0 0; "><%= link_to 'グループ名変更',  edit_team_path(@team) ,{ class: "btn-border-groupname" }  %></div>
          <div style="padding: 10px 0 20px; margin:0 5px 0 0; "><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn-border-logout"%></div>
        </nav>
      <% else %>
       <header><h1>マスター管理画面</h1></header>
        <nav>
          <div style="clear: both; padding: 10px 0 20px; margin:0 5px 0 23px;"><%= link_to 'プロフィール変更', edit_user_registration_path,{ class: "btn-border-profile" }  %></div>
          <div style="clear: both; padding: 10px 0 20px; margin:0 5px 0 0;"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn-border-logout"%></div>
        </nav>
       <% end %>
       <div id="column"><%= yield %></div>
  <% else %>

    <% if !@team.nil? %>
      <header><h1><%=@team.teamname%></h1></header>
    <% else %>
      <header><h1>スケジュール調整</h1></header>
    <% end %>

    <% flash.each do |message_type, message| %>
         <font color="#50a649">
          <%= content_tag :div, message, class: message_type %>
        </font>
    <% end %>

    <div id="column"><%= yield %></div>
  <% end %>
   <footer>&copy;<%= "#{Time.current.year} D Brand Co.,Ltd."%> <span><%= link_to 'ご利用規約', kiyaku_index_path, { class: "tar" } %></span></footer>

  </body>
</html>
